<h2>
    <form action="/celebrities/{{data._id}}" method="POST">
        <label>Name :
            <input type="text" name="name" value="{{data.name}}">
        </label>
        <label>Occupation :
            <input type="text" name="occupation" value="{{data.occupation}}">
        </label>
        <label>catchPhrase :
            <input type="text" name="catchPhrase" value="{{data.catchPhrase}}">
        </label>
        <button>Editer</button>
    </form>
</h2>