<h2>Celebrities Page</h2>
<div>
    {{#each celebrities}}
    <a href="/celebrities/{{_id}}"><p>{{name}}</p></a>
    <a href="/celebrities/{{_id}}/edit"><p>Edit</p></a>
    <form action="celebrities/{{_id}}/delete" method="post"><button>Delete</button></form>
    
    {{/each}}
</div>

<a href="celebrities/new">Add a new celebrity</a>