<Body id"bodyhomePage"><h1>{{title}}</h1>
  <p id="welcome">Welcome to {{title}}</p>
<div id="categoriesBlock">
  <button class="categories"><a href="/celebrities">View Celebrities</a></button>
  <button class="categories"><a href="/movies">View Movies</a></button>
</div>
</Body>