<h2>
    <form action="/movies" method="POST">
        <label>Title :
            <input type="text" name="title">
        </label>

        <label>Genre :
            <input type="text" name="genre">
        </label>

        <label>Plot :
            <input type="text" name="plot">
        </label>

        <label>Cast :
            <select name="cast" multiple>
                {{#each CelebritiesData}}
                    <option value="{{_id}}">{{name}}</option>
                {{/each}}
            </select>
        </label>

        <button>Creer</button>
    </form>
</h2>