<h2>Add New Movie</h2>

<form method="post">
    <label>
        Title: 
        <input type="text" name="title">
    </label>
    <label>
        Genre: 
        <input type="text" name="genre">
    </label>
    <label>
        Plot: 
        <input type="text" name="plot">
    </label>
    <label>
        Cast: 
        <select><input type="text" name="cast" multiple></select> <!-- je place l'input dans une balise "select" permettant le choix multiple -->
    </label>

    <button>Submit</button>
</form>